* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barra-navegacion {
    padding: 15px;
    background-color: #042037;
}

body {
    background-image: url(/TP_Final/IMAGES/agua_pileta.jpg);
}

.texto {
    background-color: #489174;
    color: #003A23;
    padding: 20px;
}


.container{
    display: grid;
    height: 100vh;
    place-content: center;
}

.form-container{
    display: grid;
    row-gap: .5rem;
    width: 50vw;
    justify-content: center;
    background-color:#8EFFC5 ;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #003A23;
}

.form-container input, textarea{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #003A23;
}



.form {
    background-color: #8EFFC5;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border: solid 5px #003A23;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #003A23;
}

.flotante {
    display: scroll;
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.flotante img {
    width: 70px;
    height: 70px;
}

footer {
    padding-top: 30px;
    padding-left: 160px;
    background-color: #0A093B;
    color: white;
}

footer img {
    width: 150px;
    height: 150px;
    padding: 20px
}



ul {
    list-style: none;
}