*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url(/TP_Final/IMAGES/agua_pileta.jpg);
}

h1{
    color: #003A23;
    background-color:#489174 ;
    padding: 20px;
}

.navbar{
    background-color: #2A4F6E;
}

.container-fluid{
    background-color: #042037;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
}

.carousel-inicio{
    background-color: #489174;
    padding: 5px;
    width: 800px;
    height: 550px;
    margin-top: 50px;
    margin-left: 280px;
    border-radius: 5px; 
}

.flotante{
    display:scroll;
    position:fixed;
    bottom:30px;
    right:40px;  
}

.flotante img{
    width: 70px;
    height: 70px;
}

h2{
    color: #003A23;
    background-color:#489174 ;
    padding: 20px
}

.caja-texto{
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #5ddfab ;
    display: flex;
    border: solid 3px #042037;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #042037;
}


.caja-texto img{
    margin-right: 30px;
}

.contenedor-tabla{
    color: #0A093B;
    background-color: #8180B2;
    padding: 20px;
    text-align: center;
}

table{
    width: 400px;
    margin-left: 450px;
    justify-content: center;
    color: #8180B2;
    background-color: #1B1A59;
}

th, td{
    padding: 15px;
    font-weight: bold;
}

footer{
    padding-top: 30px;
    padding-left: 160px;
    background-color: #0A093B;
    color: white;
}

footer img{
    width: 150px;
    height: 150px;
    padding: 20px;
}

ul{
    list-style: none;
}

.fotos-pie{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.fotos-pie img{
    border: solid 2px #0A093B;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #042037;
}