* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul {
    list-style: none;
}

h1 {
    text-align: center;
    background-color: #489174;
    color: #003A23;
    padding: 20px;
}

body {
    background-image: url(/TP_Final/IMAGES/agua_pileta.jpg);
}

.caja-texto-central {
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja-texto-central img {
    margin-top: 30px;
    border-radius: 10px;
    border: solid 2px #042037;
    box-shadow: 6px 6px 12px #042037;
}

.texto-central {
    font-size: larger;
    text-align: center;
    background-color: #5ddfab;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    padding: 40px;
    border: solid 5px #042037;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #042037
}


.contenedor-tarjetas {
    padding: 40px;
}

.card{
    box-shadow: 6px 6px 12px #042037;
}

.navbar {
    background-color: #042037;
}

footer {
    padding-bottom: 30px;
    background-color: #0A093B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flotante {
    display: scroll;
    position: fixed;
    bottom: 30px;
    right: 40px;

}

.flotante img {
    width: 70px;
    height: 70px;
}

#logo {
    width: 150px;
    height: 150px;
    padding: 20px;
}