*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bloqueUno{
    color: white;
}

 ul{
    list-style: none;
 }

.titulo{
    text-align: center;
    background-color: #DAB785 ;
    padding: 15px;
}

.bloqueDos{
    background-image: url(/TP_Final/IMAGES/agua_pileta.jpg);
}

.elementoUno{
    display: flex;
    align-items: center;
    justify-content: center;

    }

.elementoUno img{
    margin-top: 30px;

}

.elementoDos{
    background-color: #8EFFC5;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;  
}
 
.elementoTres{
    text-align: center;
    padding: 20px;
    font-size: 18px;  
}

.bloqueTres{ 
    background-image: url(/TP_Final/IMAGES/agua_pileta.jpg);
    background-color: transparent;
    padding: 40px;
}

.bloqueCuatro{
    padding-bottom: 30px;
    background-color: #04395E ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 150px;
    height: 150px;
    padding: 20px;
}

